.cart-widget {
  position: relative;
  display: inline-block;
}

.cart-icon {
  font-size: 24px;
}

.numero {
  position: relative;
  bottom: 15px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}


.btnCantidad{
  position: relative;
  bottom: 10px;
}


.smallbtn{
  font-size: 13px; 
  padding: 1px 5px;
  margin: 4px;
  
}