.navegacion {
  width: 200vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  border-radius: 15px;
}


ul{
  list-style:none;
}

a {
  text-decoration: none;
  color: antiquewhite;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: gold;
}


.menus{
    width: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}